<section>

    <div class="bg-neutral-500 h-10 rounded-t-lg"></div>
    <div class="bg-amber-50 text-neutral-500 p-5 hover:brightness-95 hover:duration-300">

        <div class="border-2 border-neutral-500 rounded-lg py-1 mb-3 md:text-base text-sm">
            <input type="text" placeholder="NOMBRES" class="bg-transparent outline-none w-full roboto-medium text-center">
        </div>
        <div class="border-2 border-neutral-500 rounded-lg py-1 mb-3 md:text-base text-sm">
            <input type="text" placeholder="APELLIDOS" class="bg-transparent outline-none w-full roboto-medium text-center">
        </div>
        <div class="border-2 border-neutral-500 rounded-lg py-1 mb-3 md:text-base text-sm">
            <input type="text" placeholder="TELEFONO MOVIL" class="bg-transparent outline-none w-full roboto-medium text-center">
        </div>
        <p class="roboto-regular text-xs mb-2">El siguiente campo es Opcional, pero <span class="roboto-bold">recomendable</span> para una mejor atención</p>
        <div class="border-2 border-neutral-500 rounded-lg py-1 mb-3 md:text-base text-sm">
            <input type="text" placeholder="CORREO ELECTRONICO" class="bg-transparent outline-none w-full roboto-medium text-center">
        </div>
        <div class="border-2 border-neutral-500 rounded-lg py-1 mb-3">
            <select type="text" class="bg-transparent outline-none w-full roboto-medium text-center md:text-base text-sm">
                <option value="">TIPO DE CONSULTA</option>
                <option value="Camaras de Videovigilancia y Alarmas">Camaras de Videovigilancia y Alarmas</option>
                <option value="Alarmas contra Incendios">Alarmas contra Incendios</option>
                <option value="Mantenimiento del Cerco Eléctrico">Mantenimiento del Cerco Eléctrico</option>
                <option value="Instalación de Fibra Óptica">Instalación de Fibra Óptica</option>
                <option value="Seguridad Electronica">Mantenimiento de Equipos de Computo</option>
            </select>
        </div>

        <div class="flex mb-2">
            <input type="checkbox" name="" id="">
            <p class="roboto-regular text-xs ml-2 text-amber-500">He leído y acepto la <a href="" class="roboto-bold underline decoration-solid">POLITICA DE PRIVACIDAD</a>.</p>
        </div>
    
        <div>
            <button class="bg-amber-500 text-white roboto-bold md:text-lg w-full rounded-lg py-1 text-base">ENVIAR</button>
        </div>

        <p class=" xl:mx-20 lg:mx-10 md:mx-10 roboto-light text-xs text-center my-5">Nos comunicaremos lo antes posible contigo, para brindarte una atención mas personalizada sobre algunas dudas que tengas.</p>

    </div>

</section>