<div class="bg-black flex justify-center items-center fixed top-0 right-0 left-0 z-10">
    <img src="assets/img/fibertel.png" alt="" class="lg:w-14 lg:h-14 my-2 w-8 h-8">
</div>

<div class="lg:mt-[4.5rem] sm:mt-14 mt-12 z-0">
    <h5 class="roboto-bold sm:text-lg text-sm mx-5 flex justify-center lg:py-10 py-5 text-center">TÉRMINOS Y CONDICIONES DE USO DEL SITIO WEB</h5>

    <section class="md:mx-16 sm:mx-10 mx-5">
        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            El objeto de los presentes Términos y Condiciones (en adelante T&C) es regular el acceso y uso, en Perú, pero desde donde sea que 
            accedas y lo uses a nuestro sitio web seguropc.com, (en adelante, el “sitio web”) entendiéndose por este cualquier tipo de contenido, 
            producto y/o servicio que se encuentre a disposición del público dentro del dominio mencionado.
            El acceso y uso de este sitio web se rige por los T&C descritos a continuación, así como a la legislación peruana, en tal sentido todas 
            la transacciones y contratos que se realicen en el sitio web, así como sus efectos jurídicos, quedarán regidos por estas reglas y 
            sometidas a tal legislación. Seguro PC podrá actualizar y/o modificar los presentes T&C sin previo aviso. Por este motivo recomendamos
            revisar los T&C cada vez que utilice la página web, ya que la versión aplicable será la versión que se encuentre colgada al momento de
            la consulta y cuya fecha de vigencia podrá verificar en la parte inferior de la plataforma. Es preciso señalar que todo cambio o 
            modificación a estos T&C operará para las compras que se efectúen bajo su vigencia y no para compras anteriores que se encuentren en
             etapa de ejecución (por ejemplo, con entrega de productos pendiente).
        </p>

        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">TIENDA VIRTUAL</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            Las transacciones que se efectúen a través de la Tienda Virtual de Seguro PC (en adelante, Tienda Seguro PC, seguropc.com), se 
            sujetan a los presentes T&C, así como a la legislación peruana vigente. Para comprar en la Tienda Virtual es necesaria la
             aceptación de los presentes T&C. Cualquier persona que realice una transacción mediante este canal, el app o cualquier otro 
             medio que Seguro PC destine para tal efecto declara conocer y aceptar todas y cada el contenido de los mismos.
        </p>

        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Anulaciones de compra</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">Según nuestras politicas de empresa Grupo Seguro PC SAC, no se aceptan Anulación de Compras. Antes de realizar el pago, 
            usted acepta y lee nuestros terminos y condiciones sobre su compra.
        </p>

        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Retiro en Tienda</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            Retiro en tienda y/o retiro en establecimientos comerciales afiliados es una modalidad de entrega que permite comprar en el 
            Sitio web y elegir las tiendas físicas de Seguro PC.
            Para efectuar el retiro de su producto en tiendas Seguro PC y realizar la validación correspondiente, el cliente deberá 
            presentarse con su documento oficial de identidad original, en físico y vigente (solo son válidos DNI) al área indicada 
            al momento de realizar su compra, dentro del horario de funcionamiento de la tienda Seguro PC seleccionada.
            Solo el titular de la compra puede realizar el retiro del producto. El cliente debe retirar su compra en la tienda, según
             la modalidad escogida en el flujo de compra. El producto no podrá ser retirado por menores de 18 años u otras personas
              distintas al titular de la compra.
            El Cliente tendrá los siguientes plazos, contados desde la fecha en la que reciba el correo electrónico que indica que 
            su producto está listo para ser retirado en Tiendas Seguro PC:
            • Para compras realizadas con Retiro en Tienda: 5 días
            Si el cliente no realiza el retiro del producto dentro del plazo correspondiente, se procederá a la anulación de la compra 
            y se reembolsará el monto de la compra según el medio de pago utilizado por el cliente. El Cliente acepta expresamente
             esta anulación y autoriza a Seguro PC desde ya a anular la compra en estos términos.
        </p>

        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Envio a Domicilio</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            Es responsabilidad del cliente ingresar los datos correctos y completos en su compra, para que la entrega se pueda realizar de forma oportuna en la dirección. En caso se presente algún error en el domicilio proporcionado por el cliente y como consecuencia no pueda realizarse la entrega del producto se procederá con la anulación de la compra y reembolsará el monto de la compra según el medio de pago utilizado por el cliente.
            Al recibir el producto el cliente o el tercero designado para la recepción, deberá firmar la guía de remisión como confirmación de la entrega, incluyendo su nombre completo y número de documento de identidad (DNI). Adicionalmente, como una medida de seguridad, el transportista tomará fotos al producto entregado, así como al área exterior del domicilio, consejería o recepción.
        </p>

        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Comprobante de Pago</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            El cliente deberá decidir correctamente el tipo de documento electrónico que solicitará como comprobante de pago de su compra, ya que de acuerdo con el Reglamento de Comprobantes de Pago aprobado por Resolución de Superintendencia N° 007-99/SUNAT (RCP) y al Texto Único Ordenado de la Ley del Impuesto General a las Ventas e Impuesto Selectivo al Consumo, aprobado mediante Decreto Supremo N° 055-99-EF y normas modificatorias.
            Al aceptar estos términos y condiciones, el cliente autoriza a Ripley a que envíe el comprobante electrónico al correo electrónico consignado en el proceso de compra.
        </p>
    </section>

    <h5 class="roboto-bold sm:text-lg text-sm mx-5 flex justify-center text-center lg:my-10 my-5">POLITICAS DE PRIVACIDAD</h5>

    <section class="md:mx-16 sm:mx-10 mx-5 sm:mb-10 mb-5">
        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">En seguropc.com S.A.C. todos los días trabajamos duro para servirte cada vez mejor cuando adquieres los productos que se comercializan a través de la Sociedad o utilizas los servicios disponibles en el sitio web o aplicaciones móviles de la Sociedad. Cuidar tus datos personales que nos compartes es una parte fundamental de esto. Por ello, queremos que conozcas cómo los usamos para ofrecerte una mejor y más personalizada experiencia de cliente y cómo los protegemos.</p>
        
        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Autorización</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">Al aceptar esta Política de Privacidad autorizas a la Sociedad de conformidad con las normas que regulan la protección de datos personales, a tratar tus Datos Personales que nos proporcionas al comprar nuestros productos y/o utilizar o contratar nuestros servicios, por cualquiera de nuestros canales de comunicación o venta, tanto presenciales como remotos, con la finalidad de cumplir con la legislación vigente, ejecutar la relación jurídica que mantengas con la Sociedad, así como resguardar la seguridad de nuestros clientes.</p>
        
        <h5 class="roboto-medium sm:text-lg text-sm md:my-5 my-3">Uso de Datos</h5>

        <p class="roboto-regular md:text-base sm:text-sm text-xs text-black text-justify">
            Tus datos no compartimos con terceros. La finalidad es para gestionar nuestro sistema en procesos de Envio, Recojo, Cotización de Servicios, Compras, Pagos. No recopilamos para acciones fraudolentos, desleales o ilicitos.
        </p>

    </section>
</div>

<footer>
    <app-footer></app-footer>
</footer>
