<!-- ENCABEZADO --------------------------------- -->
<div class="fixed top-0 right-0 left-0 z-10">
    <app-services></app-services>
</div>

<!-- MAIN - CUERPO GENERAL -------------------------------- -->
<main class="lg:mt-[4.5rem] mt-12 z-0">
    <!-- NAVEGADOR DE SERVICIOS ------------------ -->
    <div class="bg-black text-white roboto-medium justify-around items-center flex py-2 md:text-base sm:text-sm text-xs fixed top-0 right-0 left-0 z-20 lg:mt-[4.5rem] mt-12">
        <a href="" class="hover:text-amber-500">INTALACIONES</a>
        <a href="" class="hover:text-amber-500 text-amber-500">SOLUCIONES</a>
        <a href="" class="hover:text-amber-500">NOSOTROS</a>
        <a href="" class="hover:text-amber-500">COTIZAR</a>
    </div>

    <!-- TITULO DE QUIENES SOMOS --------------------- -->
    <section class="bg-neutral-500 flex justify-center items-center lg:py-5 py-2 lg:mt-28  mt-20">
        <h5 class="text-white lg:text-6xl md:text-4xl sm:text-xl text-lg roboto-medium">¿QUIÉNES SOMOS?</h5>
    </section>
    
    <!-- PRIMERA IMAGEN Y TEXTO -------------------------- -->
    <section class="grid grid-cols-2 grid-rows-2 xl:mt-20 md:mt-10 mt-5 xl:mx-36 lg:mx-20 sm:mx-10 mx-3">

        <div class="sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-3 col-start-1 col-end-3 row-start-1 row-end-2 flex justify-center ">
            <img src="assets/img/services/servicio06.png" alt="fibertel" class="lg:w-52 lg:h-80 md:w-36 md:h-64 w-28 h-44 object-cover origin-bottom -rotate-12">
        </div>
        <div class="sm:col-start-2 sm:col-end-3 sm:row-start-1 sm:row-end-3 col-start-1 col-end-3 row-start-2 row-end-3 flex items-center lg-mt-0 mt-5">
            <p class="roboto-light text-justify lg:text-base text-xs">
                <span class="roboto-bold">Fibertel</span> es la Tienda Online perteneciente a Ingenieros Fibertel SAC, con locales 
                centrales en la ciudad de Huancayo. Somos una empresa comprometido en entregar una experiencia de compra online y resolver tus 
                necesidades con la menor cantidad de clics posibles. Por ello te presentamos 
                <a href="fibertel.shop" class="roboto-bold underline ">fibertel.shop</a>
            </p>
        </div>

    </section>

    <!-- SEGUNDO IMAGEN Y TEXTO -------------------------- -->
    <section class="grid grid-cols-2 grid-rows-2 lg:mt-20 mt-5 xl:mx-32 lg:mx-20 sm:mx-10 mx-3 lg:mb-20 md:mb-16 mb-10">

        <div class="sm:col-start-1 sm:col-end-2 sm:row-start-1 sm:row-end-3 col-start-1 col-end-3 row-start-1 row-end-2 flex items-center ">
            <p class="roboto-light text-justify lg:text-base text-xs">SOBRE <span class="roboto-bold">Fibertel</span> <br> <br>
                Somos una tienda virtual donde encontrarás productos tecnológicos desde routers, conexiones, accesorios, laptops, impresoras 
                hasta un apartado donde te brindamos servicios de instalaciones, mantenimientos, soluciones a hogares, instituciones y empresas.
            </p>
        </div>
        <div class="sm:col-start-2 sm:col-end-3 sm:row-start-1 sm:row-end-3 col-start-1 col-end-3 row-start-2 row-end-3 flex justify-center lg-mt-0 mt-5">
            <img src="assets/img/services/servicio05.png" alt="fibertel" class="xl:w-[26rem] xl:h-56 md:w-72 md:h-40 w-52 h-28 object-cover rotate-12">
        </div>

    </section>

    <div class="xl:mx-32 lg:mx-20 sm:mx-10 mx-3 bg-neutral-500 rounded-t-lg flex justify-center items-center">
        <h5 class="text-white roboto-medium lg:text-xl text-xs py-2 text-center">VISITA NUESTRAS SUCURSALES PARA CONSULTAR POR SERVICIOS Y PRODUCTOS</h5>
    </div>

    <div class="xl:mx-32 lg:mx-20 sm:mx-10 mx-3 grid grid-cols-2 grid-rows-4 lg:my-5 my-3 text-neutral-500">

        <div class="rounded-lg border-2 border-neutral-500 lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2 col-start-1 col-end-3 row-start-1 row-end-2 lg:mx-5 mx-3">
            <h5 class="roboto-medium py-1 teext-lg text-center">Fibertel Ingenieros SAC </h5>
        </div>

        <div class="lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3 col-start-1 col-end-3 row-start-2 row-end-3 lg:mx-10 mx-5 lg:my-5 my-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.600068882995!2d-75.21329012489193!3d-12.071014588167701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e97004875cd31%3A0xf4dbf8879eccc37b!2sFibertel%20Ingenieros%20sac!5e0!3m2!1ses!2spe!4v1726895078691!5m2!1ses!2spe" class="w-full lg:h-96 h-60 " style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="rounded-lg border-2 border-neutral-500 lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2 col-start-1 col-end-3 row-start-3 row-end-4 lg:mx-5 mx-3">
            <h5 class="roboto-medium py-1 teext-lg text-center">Grupo Seguro PC </h5>
        </div>

        <div class="lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-5 col-start-1 col-end-3 row-start-4 row-end-5 lg:mx-10 mx-5 lg:my-5 my-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.600068882995!2d-75.21329012489193!3d-12.071014588167701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e973261c0a51d%3A0xa336104ceb5979ef!2sGrupo%20Seguro%20PC!5e0!3m2!1ses!2spe!4v1726895030096!5m2!1ses!2spe" class="w-full lg:h-96 h-60 " style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="lg:mx-36 mx-3">
        <hr class="lg:border-4 border-2 border-amber-500">
    </div>

    <div class="lg:mx-36 mx-3 grid grid-cols-2 grid-rows-1 lg:my-5 my-3">
        <div class="col-start-1 col-end-2 row-span-1 flex justify-center">
        <img src="assets/img/services/servicio07.png" alt="" class="w-1/2 h-full object-cover"> 
        </div>

        <div class="col-start-2 col-end-3 row-span-1 flex justify-center">
           <img src="assets/img/services/servicio08.png" alt="" class="w-1/2 h-full object-cover">
        </div>
    </div>
    


</main>

<!-- FOOTER ---------------------------------- -->
<footer>
    <app-footer></app-footer>
</footer>

