
<!-- ENCABEZADO --------------------------------- -->
<div class="fixed top-0 right-0 left-0 z-10">
    <app-services></app-services>
</div>

<main class="lg:mt-[4.5rem] mt-12 z-0">
    <!-- NAVEGADOR DE SERVICIOS ------------------ -->
    <div class="bg-black text-white roboto-medium justify-around items-center flex py-2 md:text-base sm:text-sm text-xs fixed top-0 right-0 left-0 z-20 lg:mt-[4.5rem] mt-12">
        <a href="" class="hover:text-amber-500 text-amber-500">INTALACIONES</a>
        <a href="" class="hover:text-amber-500">SOLUCIONES</a>
        <a href="" class="hover:text-amber-500">NOSOTROS</a>
        <a href="" class="hover:text-amber-500">COTIZAR</a>
    </div>
    <!-- CONTENIDO PRINCIPAL  -->
    <div class="grid grid-cols-3 grid-rows-2 xl:mx-10 lg:mx-5 md:mx-10 mx-3 my-5 lg:mt-36 md:mt-28 mt-24">

        <!-- CONTENIDO GENERAL --------------- -->
        <div class="lg:col-start-1 lg:col-end-3 lg:row-span-2 col-start-1 col-end-4 row-start-1 row-end-2">

            <p class="roboto-regular text-sm">En Ingenieros Fibertel SAC, contamos con personal altamente capacitado en la instalación de cámaras de videovigilancia, 
                cercos electricos, alarmas contra incendios, conexión de fibra óptica y más  para hogares, oficina o industria. 
                Si desea realizar una instalación en su casa o comercio, lo invitamos a comunicarse con nosotros para que podamos 
                asesorarlo. Puede comunicarse con nuestro personal por teléfono, email, formulario de contacto, o visitando nuestras 
                oficinas de atención.
            </p>
            <h5 class="roboto-bold text-lg my-5">Brindamos servicios de:</h5>
            
            <section>
                <h5 class="bg-neutral-500 text-white  flex justify-center rounded-t-lg py-2 roboto-medium md:text-lg text-base">Camaras de Videovigilancia y Alarmas</h5>
                <p class="text-justify mx-2 mt-5 text-sm roboto-regular">Protección para el hogar, negocio y empresa 100% seguro, que facilita una rápida instalación. Servicio monitoreado 
                    las 24H, los 365 días del año. Se verifica a través de video verificación de 7 segundos. Tu inversión, solo podrán 
                    visualizarse las cámaras únicamente en caso se dispare la alarma.
                </p>
                <p class="text-justify m-2 text-sm roboto-regular">
                    Al realizar la instalación de cámaras de CCTV, podremos recomendarle aquellas que mejor se adapten a las necesidades 
                    de su proyecto de seguridad electrónica. Le brindamos la posibilidad al cliente de contar con un amplio espectro de 
                    soluciones que van desde la instalación de una simple cámara de seguridad con la cual pueda ver, desde cualquier lugar, 
                    un ambiente de su casa, hasta el montaje de un centro de seguridad de manera local o remota (dentro o fuera del lugar 
                    en donde están instaladas las cámaras).
                </p>
                <div class="grid grid-cols-2 grid-rows-1 my-10">
                    <div class="col-start-1 col-end-2 row-span-1">
                        <img class="w-full h-full object-cover" src="assets/img/services/servicio01.png" alt="">
                    </div>
                    <div class="col-start-2 col-end-3 row-span-1 flex justify-end items-center">
                        <a href="" class="bg-amber-500 flex justify-end roboto-bold px-5 rounded-lg py-1 hover:bg-amber-400 md:text-base text-sm">COTIZAR</a>
                    </div>
                </div>
            </section>

            <hr class="border-amber-500 border-2 my-5">

            <section>
                <h5 class="bg-neutral-500 text-white  flex justify-center rounded-t-lg py-2 roboto-medium md:text-lg text-base">Alarmas contra Incendios</h5>
                <p class="text-justify mx-2 mt-5 text-sm roboto-regular">Al instalar estos sistemas podrás detectar incendios lo más pronto posible, lo que te 
                    ayudará a tomar medidas preventivas o de respuesta rápida antes de que el fuego se propague de manera incontrolable.Estos sistemas pueden 
                    identificar rápidamente la presencia de un incendio salvando vidas y reduciendo daños materiales. Por eso son una inversión importante para 
                    la seguridad y la protección de vidas humanas y patrimonios.
                </p>
                <p class="text-justify m-2 text-sm roboto-regular">
                    
                    Instalamos los Mejores Sistemas de Detección y Alarmas Contra Incendios Los incendios pueden causar daños irreversibles a empresas, equipos, 
                    inventarios y activos.La inversión en sistemas de detección y alarmas son importantes, su uso puede reducir los costos a largo plazo al prevenir 
                    pérdidas materiales costosas y la activación de seguros.
                </p>
                <div class="grid grid-cols-2 grid-rows-1 my-10">
                    <div class="col-start-1 col-end-2 row-span-1">
                        <img class="w-full h-full object-cover" src="assets/img/services/servicio02.png" alt="">
                    </div>
                    <div class="col-start-2 col-end-3 row-span-1 flex justify-end items-center">
                        <a href="" class="bg-amber-500 flex justify-end roboto-bold px-5 rounded-lg py-1 hover:bg-amber-400 md:text-base text-sm">COTIZAR</a>
                    </div>
                </div>
            </section>

            <hr class="border-amber-500 border-2 my-5">

            <section>
                <h5 class="bg-neutral-500 text-white  flex justify-center rounded-t-lg py-2 roboto-medium md:text-lg text-base">Instalación de Cable de Fibra Óptica</h5>
                <p class="text-justify mx-2 mt-5 text-sm roboto-regular">
                    La instalación de fibra óptica ofrece redes de alto rendimiento para su negocio. Ofrece una mayor capacidad de ancho de banda y menos 
                    posibilidades de sufrir interferencias electromagnéticas que recibe con un cable de cobre.
                </p>
                <p class="text-justify m-2 text-sm roboto-regular">
                    Los instaladores de red se especializan en diversos servicios de instalación de cables de fibra óptica para brindar la velocidad y confiabilidad 
                    del servicio del que depende su negocio. Ofrecemos empalme por fusión de fibra óptica y reparación de cables, así como auditorías periódicas de 
                    la red para garantizar la integridad de sus cables de fibra óptica. 
                </p>
                <div class="grid grid-cols-2 grid-rows-1 my-10">
                    <div class="col-start-1 col-end-2 row-span-1">
                        <img class="w-full h-full object-cover" src="assets/img/services/servicio09.png" alt="">
                    </div>
                    <div class="col-start-2 col-end-3 row-span-1 flex justify-end items-center">
                        <a href="" class="bg-amber-500 flex justify-end roboto-bold px-5 rounded-lg py-1 hover:bg-amber-400 md:text-base text-sm">COTIZAR</a>
                    </div>
                </div>
            </section>
            
        </div>

        <!-- FORMULARIO DE COTIZACION ----------- -->
        <section class="lg:col-start-3 lg:col-end-4 lg:row-span-2 xl:pl-10 lg:px-3 sm:px-20 md:px-40 px-3 col-start-1 col-end-4 row-start-2 row-end3">
            <app-form></app-form>
        </section>

    </div>
</main>

<footer>
    <app-footer></app-footer>
</footer>

<style>
    .grid-rows-2 {
  grid-template-rows: min-content min-content;
}
</style>